.main {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#particles-js {
  background-color: #000;
  height: 100vh;
}

body {
  font-family: 'EB Garamond', serif;
  background-attachment: fixed;
}

html {
  width: 100vw;
  height: 100vh;
}

i {
  padding: 10px;
  margin: 10px;
}
a,
a:hover {
  color: inherit;
}

.img-thumbnail {
  background-color: transparent;
}
